<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 디테일 페이지</title>
</head>
<body>
    <div>
        <a href="/" style="text-decoration: none;">
            <h2><header>myMovieReviews</header></h2>
        </a>
        <hr/>
        <h1>{{post.title}}</h1>
        <a href="/posts/{{ post.id }}/update" style="text-decoration: none;">수정하기</a>
        <form action="/posts/{{ post.id }}/delete" method="post">
            {% csrf_token %}
            <input type="submit" value="삭제하기"/>
        </form>
    </div>
    <div>
        <p>개봉년도 : <b>{{post.year}}</b></p>
        <p>감독 : <b>{{post.director}}</b></p>
        <p>주연 : <b>{{post.actor}}</b></p>
        <p>장르 : <b>{{post.genre}}</b></p>
        <p>별점 : <b>{{post.star}}</b></p>
        <p>평점 : <b>{{post.star}}</b></p>
        <p>러닝타임 : <b>{{post.runtime}}</b></p>
    </div>
    <div>
        <b>{{post.review}}</b>
    </div>
</body>
</html>